<ion-tabs>

  <ion-tab tab="parks">
    <ion-router-outlet name="parks"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="map">
    <ion-router-outlet name="map"></ion-router-outlet>
  </ion-tab>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="parks" href="/tabs/(parks:parks)">
      <ion-icon name="walk"></ion-icon>
      <ion-label>Parks</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map" href="/tabs/(map:map)">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>